/* <----- Imports -----> */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700&display=swap');

/*     FONT WEIGHTS     
- Extra-light: 200
- Light: 300
- Regular: 400
- Semi-bold: 600
- Bold: 700            */

/* <----- Universal -----> */

:root {
    --main-color: #C15027;
    --main-font: 'Mukta', sans-serif;
}

body {
    font-family: var(--main-font);
    background: white;
}

.navbar {
    background-color: white;
}

.page-container {
    margin-top: 75px;
}

/* <----- Login Page (index.html) -----> */
.login-container {
    margin-top: 40px;
}

#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#loginHeader img {
    width: 70%;
}

#loginHeader h3 {
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 0px;
}

#loginForm {
    width: 690px;
    height: 350px;
    background-color: #ECECEC;
    box-shadow: 5px 10px 5px #dbdbdb;
    text-align: center;
}

#loginForm h2 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 600;
}

#loginForm p {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 40px;
}

#loginInputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;

}

#loginEmail, #loginPassword{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#loginInputs label {
    text-align: left;
}

#loginButton {
    background: var(--main-color);
    padding: 10px 150px;
    color: white;
    margin-bottom: 30px;
}

#loginForm #loginCopyright {
    font-weight: 200;
    font-size: 12px;
}

#loginPage footer {
    font-weight: 200;
}

.bmd-form-group {
    padding-top: 0px;
}

