/* <----- Imports -----> */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700&display=swap");

/*     FONT WEIGHTS     
- Extra-light: 200
- Light: 300
- Regular: 400
- Semi-bold: 600
- Bold: 700            */

/* <----- Universal -----> */
:root {
  --main-color: #c15027;
  --secondardy-color: #f8f8f8;
  --ternary-color: #F5F5F5;
  --main-font: "Mukta", sans-serif;
}

body {
  font-family: var(--main-font);
  background: white;
}

.navbar {
  background-color: white;
}

.page-container {
  margin-top: 75px;
}

#navLogo {
  width: 30%;
  margin-left: 20px;
  max-width: 135px;
}

#breadCrumbs {
  color: black;
  font-weight: 200;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}

.breadcrumb {
  background-color: white;
}

.breadcrumb li {
  cursor: default;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, ">");
}

#breadCrumbs a {
  color: #6c757d;
  text-decoration: none;
}

#breadCrumbs a:hover {
  color: black;
  text-decoration: underline;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary.custom-file-control:before,
.btn.btn-primary {
  color: var(--main-color);
  background-color: transparent;
  border-color: #ccc;
}

.dropdown-menu-right {
  left: -75px;
}

#menuDropdown a.dropdown-item {
  text-decoration: none;
}

#menuDropdown a.dropdown-item:hover{
  text-decoration: underline;
  color: var(--main-color);
}

#primaryProviderProfile {
  cursor: pointer;
}

/* <----- Login Page (index.html) -----> */
.login-container {
  margin-top: 40px;
}

#loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#loginHeader img {
  width: 60%;
}

#loginHeader h3 {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 0px;
}

#loginForm {
  width: 100%;
  height: 350px;
  background-color: #ececec;
  box-shadow: 5px 10px 5px #dbdbdb;
  text-align: center;
}

#loginForm h2 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-weight: 600;
}

#loginForm p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

#loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

#loginEmail,
#loginPassword {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#loginEmail {
  margin-bottom: 10px;
}

#loginInputs label {
  text-align: center;
}

#loginButton {
  background: var(--main-color);
  padding: 10px 150px;
  color: white;
}

a#authLink {
  color: black;
  text-decoration: none;
  display: block;
}

a#authLink:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

#loginForm #loginCopyright {
  font-weight: 200;
  font-size: 12px;
}

#loginPage footer {
  font-weight: 200;
}

.bmd-form-group {
  padding-top: 0px;
}

/* <----- Signup Page (signup.html) -----> */
.signup-container {
  margin-top: 40px;
}

#signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signupHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#signupHeader img {
  width: 60%;
}

#signupHeader h3 {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 0px;
}

#signupForm {
  width: 100%;
  height: 400px;
  background-color: #ececec;
  box-shadow: 5px 10px 5px #dbdbdb;
  text-align: center;
}

#signupForm h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 600;
}

#signupForm p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

#signupInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#signupEmail,
#signupPassword,
#signupName {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#signupEmail, #signupPassword {
  margin-bottom: 10px;
}

#signupInputs label {
  text-align: center;
}

#signupButton {
  background: var(--main-color);
  padding: 10px 150px;
  color: white;
  margin-bottom: 15px;
}

#signupForm #signupCopyright {
  font-weight: 200;
  font-size: 12px;
}

#signupPage footer {
  font-weight: 200;
}

.bmd-form-group {
  padding-top: 0px;
}

/* <----- Patient Page (patients.html) -----> */
.patients-container {
  margin-top: 120px;
}

#patientsPage {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

#patientsPage h1 {
  margin-bottom: 0px;
}

#loadingPatients {
  margin-top: 40px;
  text-align: center;
}

#patientsPage #breadCrumbs {
  margin-bottom: 10px;
}

#patientsHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#patientsFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#patientsFilter i {
  color: black;
  padding-right: 10px;
}

#patientsSelect {
  margin-right: 10px;
  font-size: 10px;
  height: 30px;
  width: 125px;
  border-radius: 0px;
  font-family: var(--main-font);
}

#patientSearchInput {
  border-radius: 0px;
  height: 30px;
  font-size: 12px;
  font-family: var(--main-font);
  background-image: url("mdn_logo_only_color.png");
  background-repeat: no-repeat;
  background-position: left center;
  border: 0px;
  border-top: 1px #ced4da solid;
  border-bottom: 1px #ced4da solid;
  border-left: 1px #ced4da solid;
}

#patientsSearchButton {
  padding: 0px;
  height: 30px;
  width: 40px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-top: 1px #ced4da solid;
  border-bottom: 1px #ced4da solid;
  border-right: 1px #ced4da solid;
}

#patientsPage footer {
  margin-right: 60px;
  margin-bottom: 10px;
}

#patientsPage .card {
  background-color: var(--secondardy-color);
  margin: 20px;
  text-align: center;
}

.card-body {
  padding: 1.25rem;
}

.card-body h4 {
  margin-bottom: 0px;
}

.card-body p {
  margin: 0px 30px;
  padding-top: 5px;
}

#selectButton {
  background: var(--main-color);
  color: white;
  margin-bottom: 0px;
  font-size: 12px;
  margin-top: 10px;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: none;
}

/* <----- Provider Profile Page (provider_profile.html) -----> */
.providerProfile-container {
  margin-top: 120px;
}

#providerProfilePage {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

#providerProfileTitle {
  margin: 30px 0px;
  text-align: center;
  font-size: 50px;
}

#providerProfileName, #providerProfileEmail {
  margin-bottom: 20px;
}

#providerProfileSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#providerProfilePatientsHeader {
  margin: 0px 5px 0px 0px;
}

#providerProfilePatients {
  display: flex;
  flex-direction: row;
}

#providerProfileItem {
  margin: 4px;
  font-weight: 200;
  font-size: 18px;
}

#goBackLink {
  font-size: 20px;
}

#goBackLink:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

/* <----- Single Patient Page (single_patient.html) -----> */
.singlePatient-container {
  margin-top: 120px;
}

#singlePatientPage {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

#singlePatientTitle {
  text-align: center;
  font-size: 50px;
}

#singlePatientButtonGroup {
  display: flex;
  justify-content: center;
  width: 100%;
}

[id$=Card] {
  width: 100%;
  height: 250px;
  background-color: var(--ternary-color);
}

[id$=Card] p {
  font-size: 16px;
  font-weight: 200;
}

[id$=CardBody] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2px;
}

.vitalsInfo {
  display: flex;
  flex-direction: column;
}

#singlePatientPage footer > a {
  text-decoration: none;
  color: var(--main-color);
}

#singlePatientPage footer > a:hover {
  text-decoration: underline;
}

[id$=Card] p {
  color: black;
  text-decoration: none;
  cursor: default;
}

#vitalsCard p:hover {
  color: var(--main-color);
  text-decoration: underline;
  font-weight: 600;

}

#singlePatientContact {
  width: 100%;
  height: 175px;
  background-color: var(--secondardy-color);
  margin: 35px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#singlePatientContact h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 24px;
  margin-top: 5px;
}

#singlePatientContactButtons {
  display: flex;
  flex-direction: column;
}

#singlePatientPage .editButton {
  padding: 4px;
  font-size: 12px;
  background-color: var(--main-color);
  color: white;
}

#lastUpdated {
  font-size: 12px;
  text-align: center;
  margin-right: 50px;
}

#medicinesInfo, #notesInfo {
  width: 100%;
  height: 175px;
  overflow-x: hidden;
  overflow-y: auto;
}

#medicinesInfo .card, #notesInfo .card{
  border-radius: 0px;
  margin-bottom: 1px;
}

.medicationCardBody, .specificNoteCardBody{
  padding: 3px;
}

.medicationCardInfo, .specificNoteCardInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.medicationCardInfo p, .specificNoteCardInfo p {
  font-size: 14px;
}

p.medicationName {
  font-weight: 600;
}

.noteData {
  white-space: nowrap;
}

/* <----- Graphics Page (graphics.html) -----> */
.graphics-container {
  margin-top: 120px;
}

#graphicsPage {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

#graphicsPage footer > a {
  text-decoration: none;
  color: var(--main-color);
}

#graphicsPage footer > a:hover {
  text-decoration: underline;
}

#graphicsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

#graphicsCardBody {
  text-align: center;
}

#graphicsInfo {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

#graphicsChart {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#graphicsCard {
  width: 250px;
  height: 400px;
  background-color: var(--secondardy-color);
}

#graphicsCardBody {
  justify-content: start;
  padding-top: 10px;
}

#graphicsPage h3 {
  font-weight: 600;
}

#graphicsHistory {
  display: flex;
  justify-content: center;
  height: 400px;
}

#graphicsInfo .card {
  border-radius: 0px;
  margin-bottom: 1px;
}

#graphicsTitle {
  text-align: center;
  font-size: 50px;
}

.historyCardBody{
  padding: 3px;
}

.historyCardInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.historyCardInfo p{
  font-size: 14px;
}


/* <----- Contact Page (contact.html) -----> */
.contact-container {
  margin-top: 120px;
}

#contactPage {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

#contactPage footer > a {
  text-decoration: none;
  color: var(--main-color);
}

#contactPage footer > a:hover {
  text-decoration: underline;
}

#notesTextArea {
  width: 100%;
  height: 320px;
}

#contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

#contactScreen {
  margin-bottom: 20px;
}

#contactScreen div {
  width: 100%;
  height: 300px;
  background-color: black;
}

#contactCard {
  width: 250px;
  height: 400px;
  background-color: var(--secondardy-color);
}

#contactCardContents {
  text-align: center;
}

#contactPage h3 {
  font-weight: 600;
}

#contactNotes {
  display: flex;
  justify-content: center;
  height: 400px;
}


/* Small devices (phones, 576px and up) */
@media screen and (min-width: 576px) {
  #patientsHeader {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #patientsPage #breadCrumbs {
    margin-bottom: 0px;
  }

  #patientsSelect {
    width: 95%;
  }

  #patientsFilter i {
    color: black;
    padding-right: 0px;
  }

  .patientsCardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #patientsPage .card-body .patientsCardInfo:nth-child(2) p {
    margin-right: 10px;
    margin-left: 10px;
  }

  #patientsPage .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #patientsPage .card {
    text-align: left;
  }

  #selectButton {
    margin-top: 0px;
  }

  #patientsPage .card-body h4 {
    margin-left: 20px;
  }

  [id$=Card] a:hover {
    text-decoration: underline;
  }

  #singlePatientPage #vitalsEditButton {
    margin-bottom: 15px;
  }

  #vitalsCard p {
    font-size: 18px;
    cursor: pointer;
  }

  .vitalsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  [id$=CardBody] {
    justify-content: start;
    padding-top: 10px;
  }

  #singlePatientContactButtons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #singlePatientContactButtons button {
    width: 200px;
  }

  #singlePatientContact h2 {
    font-size: calc(1.325rem + 0.9vw);
    margin-bottom: 20px;
  }

  #singlePatientPage .editButton {
    padding: 6px;
    font-size: 14px;
  }

 #vitalsCardBody div :nth-child(1) {
    margin-bottom: 20px;
  }

  #lastUpdated {
    font-size: 14px;
    text-align: center;
    margin-right: 0px;
  }

  #graphicsChart {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  #loginButton {
    margin-bottom: 15px;
  }

  #loginForm p {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 40px;
  }

  #loginForm {
    width: 690px;
    height: 350px;
  }

  #loginInputs {
    flex-direction: row;
    margin-bottom: 20px;
  }

  #loginInputs label {
    text-align: left;
  }

  #loginEmail {
    margin-bottom: 10px;
  }

  #signupForm {
    width: 800px;
    height: 350px;
  }

  #signupForm h2 {
    margin-top: 20px;
  }

  #patientsSelect {
    font-size: small;
    height: 40px;
  }

  #patientSearchInput {
    height: 40px;
    font-family: var(--main-font);
    font-size: small;
  }

  #patientsSearchButton {
    height: 40px;
  }

  #patientsPage,
  #singlePatientPage,
  #graphicsPage {
    margin-left: 125px;
    margin-right: 125px;
  }

  #patientsPage .card-body .patientsCardInfo:nth-child(2) p {
    margin-right: 20px;
    margin-left: 20px;
  }

  #vitalsCard p {
    font-size: 20px;
  }

  [id$=Card] {
    width: 800px;
  }

  div.vitalsInfo:nth-of-type(1) {
    margin: 10px 0px;
  }

  #graphicsContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }

  #graphicsChart {
    margin-right: 20px;
  }

  #graphicsCard {
    width: 250px;
    height: 400px;
  }

  #contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }

  #contactScreen {
    margin-right: 20px;
  }

  #contactCard {
    width: 250px;
    height: 400px;
  }

  #contactScreen div {
    width: 500px;
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  #singlePatientPage #vitalsEditButton {
    margin-bottom: 20px;
  }
}

  @media screen and (min-width: 1280px) {
    #contactScreen div {
      width: 800px;
      height: 500px;
    }

    #contactCard {
      height: 500px;
    }

    #contactNotes {
      height: 500px;
    }

    #notesTextArea {
      height: 415px;
    }
}

/* <----- Additional Classes -----> */
.hidden {
  display: none;
}