/* <----- Imports -----> */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700&display=swap');

/*     FONT WEIGHTS     
- Extra-light: 200
- Light: 300
- Regular: 400
- Semi-bold: 600
- Bold: 700            */

/* <----- Universal -----> */

:root {
    --main-color: #C15027;
    --secondardy-color: #F8F8F8;
    --main-font: 'Mukta', sans-serif;
}

body {
    font-family: var(--main-font);
    background: white;
}

.navbar {
    background-color: white;
}

.page-container {
    margin-top: 75px;
}

#navLogo {
    width: 30%;
    margin-left: 20px;
}

#breadCrumbs {
    color: black;
    font-weight: 200;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

/* <----- Login Page (index.html) -----> */
.login-container {
    margin-top: 40px;
}

#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#loginHeader img {
    width: 60%;
}

#loginHeader h3 {
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 0px;
}

#loginForm {
    width: 100%;
    height: 350px;
    background-color: #ECECEC;
    box-shadow: 5px 10px 5px #dbdbdb;
    text-align: center;
}

#loginForm h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 600;
}

#loginForm p {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

#loginInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

#loginEmail, #loginPassword{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#loginEmail {
    margin-bottom: 10px;
}

#loginInputs label {
    text-align: center;
}

#loginButton {
    background: var(--main-color);
    padding: 10px 150px;
    color: white;
    margin-bottom: 30px;
}

#loginForm #loginCopyright {
    font-weight: 200;
    font-size: 12px;
}

#loginPage footer {
    font-weight: 200;
}

.bmd-form-group {
    padding-top: 0px;
}


/* <----- Patient Page (patients.html) -----> */
.patients-container {
    margin-top: 120px;
}

#patientsPage {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

#patientsPage h1 {
    margin-bottom: 0px;
}

#patientsPage #breadCrumbs {
    margin-bottom: 10px;
}

#patientsHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#patientsFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#patientsFilter i {
    color: black;
    padding-right: 10px;
}

#patientsSelect {
    margin-right: 10px;
    font-size: 10px;
    height: 30px;
    width: 125px;
    border-radius: 0px;
    font-family: var(--main-font);
}

#patientSearchInput {
    border-radius: 0px;
    height: 30px;
    font-size: 12px;
    font-family: var(--main-font);
    background-image: url('mdn_logo_only_color.png');
    background-repeat: no-repeat;
    background-position: left center;
    border: 0px;
    border-top: 1px #ced4da solid;
    border-bottom: 1px #ced4da solid;
    border-left: 1px #ced4da solid;
}

#patientsSearchButton {
    padding: 0px;
    height: 30px;
    width: 40px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 1px #ced4da solid;
    border-bottom: 1px #ced4da solid;
    border-right: 1px #ced4da solid;
}

#patientsPage footer {
    margin-right: 60px;
    margin-bottom: 10px;
}

#patientsPage footer > a {
    text-decoration: none;
    color: var(--main-color);
}

#patientsPage footer > a:hover {
    text-decoration: underline;
}

.card {
    background-color: var(--secondardy-color);
    height: 75px;
    margin: 20px;
}

.card-body {
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    justify-content: space-between;
}

.card-body h4 {
    margin-bottom: 0px;
    margin-left: 20px;
}

.card-body p {
    margin: 0px 30px;
    padding-top: 5px;
}

#patientsCardInfo {
    display: flex;
    flex-direction: row;
}

#selectButton {
    background: var(--main-color);
    color: white;
    margin-bottom: 0px;
    font-size: 12px;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: none;
}

/* Small devices (phones, 576px and up) */
@media screen and (min-width: 576px) {
    #patientsHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #patientsPage #breadCrumbs {
        margin-bottom: 0px;
    }

    #patientsSelect {
        width: 95%;
    }

    #patientsFilter i {
        color: black;
        padding-right: 0px;
    }
}


@media screen and (min-width: 768px) {
    #loginForm p {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 40px;
    }
    #loginForm {
        width: 690px;
        height: 350px;
        background-color: #ECECEC;
        box-shadow: 5px 10px 5px #dbdbdb;
        text-align: center;
    }
    #loginInputs{
        flex-direction: row;
        margin-bottom: 40px;
    }
    
    #loginInputs label {
        text-align: left;
    }

    #loginEmail {
        margin-bottom: 10px;
    }

    #patientsSelect {
        font-size: small;
        height: 40px;
    }
    
    #patientSearchInput {
        height: 40px;
        font-family: var(--main-font);
        font-size: small;
    }
    
    #patientsSearchButton {
        height: 40px;
    }

    #patientsPage {
        margin-left: 125px;
        margin-right: 125px;
    }
}

@media screen and (min-width: 1280px) {
}